<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>フレームメモワール - WEB販売管理画面</title>
  <link rel="stylesheet" href="./buhmsstyle.css" type="text/css">
</head>
<body>

  <h1>フレームメモワール</h1>
  <h2>WEB販売管理画面</h2>

  <form method="post" th:object="${M0001}">
    <div>
      <h3>品目マスタ保守</h3>
      <label class="inpulabel">品目コード</label>
      <input type="text" th:field="*{hinCode}" class="inputx12">
      <input type="submit" formaction="Search" value="検索">
    </div>

    <hr>

    <div class="left1">
      <div class="inputitem">
        <label class="inpulabel">品目区分</label>
        <input type="text" th:field="*{HINbn}" class="inputx12">
      </div>

      <div class="inputitem">
        <label class="inpulabel">品名</label>
        <input type="text" th:field="*{hinName}" class="inputN20">
      </div>

      <div class="inputitem">
        <label class="inpulabel"></label>
        <input type="text" th:field="*{hinName2}" class="inputN20">
      </div>

      <div class="inputitem">
        <label class="inpulabel">単位</label>
        <input type="text" th:field="*{tani}" class="inputx5">
        <label class="inpulabel">()</label>
      </div>

      <div class="inputitem">
        <input type="text" id="NNtanka" class="inputx5" readonly>
        <label class="inpulabel2">単価</label>
        <input type="text" th:field="*{tanka}" class="inputx10">
        <label class="inpulabel">（円）</label>
      </div>

      <div class="inputitem">
        <input type="text" id="NNrt" class="inputx5" readonly>
        <br>
        <label class="inpulabel">リードタイム</label>
        <input type="text" th:field="*{readTime}" class="inputx10">
        <label class="inpulabel">（h）</label>
      </div>

      <div class="inputitem">
        <label class="inpulabel">消費期限日数</label>
        <input type="text" th:field="*{syohikigenDays}" class="inputx10">
        <label class="inpulabel">（日）</label>
      </div>
    </div>

    <div class="left2">
      <div class="inputitem">
        <label class="inpulabel">色コード</label>
        <input type="text" th:field="*{colorCode}" class="inputx12">
      </div>
    </div>

    <div class="buttons">
      <div class="button1">
        <input type="submit" formaction="Save" value="登録">
      </div>
      <div class="button2">
        <input type="submit" formaction="Delete" value="削除">
      </div>
    </div>
  </form>

</body>
</html>
