<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>フレームメモワール - WEB販売管理画面</title>
  <link rel="stylesheet" href="/Common.css" type="text/css">
  <link rel="stylesheet" href="/M0004.css" type="text/css">

</head>

<body>
<h1 class="systemtitle">フレームメモワール</h1>
<h2>WEB販売管理画面</h2>


<form method="post" th:object="${M0004}">
   <div class="loaded">
  	<h3>生産計画</h3>
  	  <div="keyinputs">
		<label class="inputlabel">	年月日</label>
		<input type="date" th:field="*{ymd}" class="inputx12">
		<button type="submit" formaction="/M0004/Search">検索</button>
	  </div>
	  
	  <div class="scroll-box">
		<table  cellspacing="0">
				<thead>
					<tr>
						<td class="dtailwidth">明細／日付</td>
						<th th:each="detailhead : ${DetailHeadList}">
					    <div><input type="text" th:name="${detailhead.day}" th:value="${detailhead.day}"  readonly="readonly" class="readonlyinput"> </div>
						</th>
					</tr>
						
				</thead>
				
				<tbody>
				<tr th:each="detail : ${DetailList}">
				
					<td class="detail">
					<table>
					<tr>
						<td>品目</td>
						<td><div><input type="text" th:name="${detail.hincode}" th:value="${detail.hincode}" class="inputx6"></div></td>
					</tr>				
						
					<tr>
						<td>現在庫数</td>
						<td th:text="${detail.genZaiko}"></td>
						<td>年次計画数</td>
						<td th:text="${detail.nenKeiSu}"></td>
					</tr>
					<tr>
						<td>消費予定数</td>
						<td th:text="${detail.shohiYotei}"></td>
						<td>年次実績数</td>
						<td th:text="${detail.nenJisSu}"></td>
					</tr>
					<tr>
						<td>在庫予定数</td>
						<td th:text="${detail.zaikoYotei}"></td>
						<td>週次計画数</td>
						<td th:text="${detail.syuKeiSu}"></td>
					 </tr>
					<tr>
						<td></td>
						<td></td>
						<td>週次実績数</td>
						<td th:text="${detail.syuJisSu}"></td>
					</tr>
					</table>
					</td>

					

					<td th:each="cell : ${detail.cellList}" class="cell">	
						<table>
							<tr>
								<td>日次計画数</td>
					    		<td><div><input name="${cell.hiKeiSu}" text="${cell.hiKeiSu}" class="inputx6" ></div></td>
							</tr>
							<tr>
								<td>日次実績数</td>
								<td th:text="${cell.hiJiSu}"></td>
							</tr>
							<tr>
								<td>予実差異</td>
								<td th:text="${cell.yojiSai}"></td>
							</tr>
						</table>					
					</td>
			
				</tr>

				</tbody>
		</table>
		
		
	  </div>
	  
	  
	  
	  
   </div>

   <hr>
  
</form>

</body>

</html>
